# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*

# Env / local
*.local
.env
.env.*

# Editor / OS
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
